
<%- include ('../partials/header') %>

<div class="container" >
    <header class="jumbotron justify-content-center">
        <div class="container">
            <div>
                <h1 class="niceFont">Welcome to <em>YelpCamp!</em></h1>
                <p>Explore the best campgrounds in the world!</p>
                <p>
                    <a class="btn btn-outline-primary btn-large" href="/campgrounds/new">Add New Campground!</a>
                </p>
                <p>
                    
                    <div class="form-group">
                    <input type="text" id="search" name="search" placeholder="Campground search..." class="form-control">
                    </div>

                </p>
            </div>
            
        </div>
    </header>

    <script>

    $(document).ready(function(){
        $(function () {
            $('#search').on('input',function(e){
                var vrednost = $("#search").val();
                $.get('/campgrounds/searching', { search: vrednost }, function (data) {

                    $("#campsList").empty();

                    data.forEach(function(campground){
                        $("#campsList").append('<div class="col-md-3 col-sm-6">  <div class="img-thumbnail" > <img src="'+campground.image +'" width="100%"> <div class="caption">  <h4>'+campground.name+'</h4> </div>   <p>   <a href="/campgrounds/'+campground._id +'" class="btn btn-primary">More info</a>    </p>  </div>  </div>');
                    });

                });
            });
        });
    }); 
    
    setInterval(() => {//azururanje kampova
        var vrednost = $("#search").val();
                $.get('/campgrounds/searching', { search: vrednost }, function (data) {

                    $("#campsList").empty();

                    data.forEach(function(campground){
                        $("#campsList").append('<div class="col-md-3 col-sm-6">  <div class="img-thumbnail" > <img src="'+campground.image +'" width="100%"> <div class="caption">  <h4>'+campground.name+'</h4> </div>   <p>   <a href="/campgrounds/'+campground._id +'" class="btn btn-primary">More info</a>    </p>  </div>  </div>');
                    });

                });
    }, 10000);



    </script>
    

    <div id="campsList" class="row text-center" style="display: flex; flex-wrap: wrap;">
        <% campgrounds.forEach(function(campground){ %>
            <div class="col-md-3 col-sm-6">
                <div class="img-thumbnail" >
                    <img src="<%= campground.image %>" width="100%">
                    <div class="caption">
                        <h4><%= campground.name %></h4>
                    </div>
                    <p>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
                    </p>
                </div>
            </div>
        <% }); %>
    </div>
</div>

<%- include ('../partials/footer') %>
